html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: -apple-system, "Helvetica Neue", Helvetica, sans-serif;
}

.title_bar {
  position: absolute;
  width: 100%;
  height: 25px;
  top: 0;
  left: 0;
  -webkit-app-region: drag;
  /* background-color: #ffffff; */
}

.contacts_field {
  position: absolute;
  /* background-color: #22292acc; */
  background-color: #171b1c80;
  width: 20%;
  height: 100%;
}

.text_message {
  position: absolute;
  /* background-color: #22292acc; */
  background-color: #636e72;
  width: 100%;
  left: 20%;
  height: 6%;
  max-height: 50px;
  bottom: 1%;
}

.message {
  position: absolute;
  width: 500px;
  height: 250px;
  top: 50%;
  left: 50%;
  color: #ffffff;
  font-weight: 200;
  text-align: center;
  margin-top: -125px;
  margin-left: -250px;
}

.message h1 {
  font-size: 50px;
  font-weight: 100;
  color: #ffffff;
}

.message div {
  margin-bottom: 10px;
}
